[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
sklearn = "*"
numpy = "*"
matplotlib = "*"
tensorflow = "*"
pandas = "*"
statsmodels = "*"
lime = "*"
wheel = "*"
shap = "*"
setuptools = "*"
wheels = "*"
cuda = "*"
kaggle = "*"
seaborn = "*"

[requires]
python_version = "3.7"
